@media (max-width: 600px) {
    .row-modalidade {
        flex-direction: column !important;
    }
}

.modalidades {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 50px auto;
    padding: 50px 0;
}

.title-modalidade {
    display: flex;
    justify-content: center;
}

.title-modalidade h1 {
    margin: 0px 0 50px 0;
    color: white;
    font-family: Cuprum, Arial, sans-serif;
    text-align: center;
}

.row-modalidade {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.colum-modalidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


/* .colum-modalidade:hover {
    cursor: not-allowed;
} */

.modalidade-1,
.modalidade-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.5s;
}

.modalidade-1:hover,
.modalidade-2:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.modalidade-1 h2,
.modalidade-2 h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: Cuprum, Arial, sans-serif;
    color: white;
}

.div-img-brasil {
    position: absolute;
}

.modalidade-1 img,
.modalidade-2 img {
    width: 30px;
    position: relative;
    top: -25px;
}

#id-lotofacil {
    background-color: #7f2949;
    width: fit-content;
}

#id-lotomania {
    background-color: #df7034;
}

.concurso {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0;
    font-size: 23px;
    color: #a5a5a5;
    border: solid 1px #cecece;
    border-right-width: 2px;
    border-bottom-width: 2px;
    /* padding: 0 10px; */
    width: fit-content;
    border-radius: 3px;
    background-color: #fff;
}

.concurso h2 {
    font-family: Cuprum, Arial, sans-serif;
    color: #7c9b85;
    margin: 0;
    font-size: 2rem;
    margin: 0 5px;
}

.concurso span {
    align-self: center;
    font-family: Cuprum, Arial, sans-serif;
    color: #7c9b85;
    margin: 0 5px;
}