body {
    margin: 0 auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), #1a1a1a);
  background-repeat: no-repeat; */
    /* background-image: radial-gradient( ellipse farthest-corner at 45px 550px, #000000 0%, rgb(97 218 142) 50%, #000000 95%); */
    /* background-color: teal; */
    /* background-image: linear-gradient( 45deg, #1a1815 25%, #000000 25%, #000000 50%, #1a1815 50%, #1a1815 75%, #000000 75%, #000000 100%);
    background-size: 56.57px 56.57px; */
    background-image: linear-gradient(45deg, teal 50%, #1f9cb2 50%);
    background-repeat: no-repeat;
    /* contain: content; */
}