@media (max-width: 1000px) {
    .all-numbs{
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .table {
        margin: 30px !important;
    }
}

.all-numbs{
    width: 60%;
}

.title {
    margin-top: 5%;
}

.title h1 {
    display: flex;
    justify-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    align-self: center;
    color: black;
    font-size: 2rem;
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    background-color: none;
    margin: 50px 50px;
    padding: 0;
}

.table ul {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.table ul li {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    font-size: 1.5rem;
    height: -moz-fit-content;
    /* background-color: #fff; */
}

.table ul li:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.table ul li button {
     /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    align-self: center;
    color: black;
    font-size: 1.5rem;
    border: solid 3px black;
    border-radius: 50px; */
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 50px;
    color: #a5a5a5;
    border: solid 1px #cecece;
    border-right-width: 2px;
    border-bottom-width: 2px;
    /* padding: 0 10px; */
    width: 40px;
    height: fit-content;
    background-color: #fff;
}

.table ul li button:hover {
    cursor: pointer;
}