

.sup-header{
    display: flex;
    margin: 0;
    padding: 0;
    /* background-color: yellowgreen; */
    justify-content: center;
}

.sup-header p{
    margin: 5px;
    padding: 0;
    display: flex;
}

.sup-header p a{
    text-decoration: none;
    color: white;
}

.sup-header p a:hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.sup-header marquee p ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
}

.sup-header marquee p ul li{
    margin: auto 5px;
    padding: 0 5px;
}
