.btncancel {
    display: flex;
    margin: 0;
    padding: 0;
}

.btncancel button{
    display: flex;
    border: none;
    margin: 10px;
    place-self: center;
    padding: 0;
    border-radius: 3px;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.btncancel button:hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.btncancel button a{
    height: -webkit-fill-available;
    width: 100px;
    text-decoration: none;
    padding: 10px;
    color: black !important;
}
