body {
    margin: 0 auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), #1a1a1a);
    background-repeat: no-repeat; */
    /* background-image: radial-gradient( ellipse farthest-corner at 45px 550px, #000000 0%, rgb(97 218 142) 50%, #000000 95%); */
    background-color: teal;
}