.header {
    display: flex;
    justify-content: center;
    background-color: green;
    margin: 0;
    padding: 0;
    height: 75px;
}

.header img {
    width: 200px;
    padding: 3px;
    position: absolute;
}