body {
    /* background-image: radial-gradient( ellipse farthest-corner at 500px 450px, #ffff80 20%, rgba(204, 153, 153, 0.4) 30%, #e6e6ff 50%); */
    /* background-image: radial-gradient( 10000px at 10000px 50%, black 5%, goldenrod 15%, black 60%); */
    /* background-image: radial-gradient( ellipse farthest-corner at 45px 550px, #000000 0%, rgb(97 218 142) 50%, #000000 95%); */
}

.title {
    display: flex;
    justify-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    align-self: center;
    color: black;
    font-size: 1rem;
}

.table {
    display: flex;
    justify-content: center;
    background-color: none;
    margin: 50px auto;
    padding: 0;
}

.table ul {
    display: flex;
    justify-content: center;
    width: 58%;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.table ul li {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    align-self: center;
    color: black;
    font-size: 1.5rem;
    border: solid 3px black;
    border-radius: 50px;
}

.table ul li:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}